
$bg-main:#e2c6a4;
$bg-header:#969378;
$bg-menu:linear-gradient(to bottom,#eee1d1 87%,#c7aa7f 100%);
$text-main:#332d29;
$text-highlight:#656659;
$button-main:#eedac0;
$button-warning:#ad543e;
$button-text:#332d29;
$text-header:#f5e594;
$shadow:#887055;

$status:#89708f;
$unverified:#756547;
$verified:#ad543e;
$development:#e2c36e;
$resolved:#a1ac97;

