</div>
<footer>
<script>
buildMenu("auth");
buildMenu("admin");
</script>
    <div id="stripe"></div>
    <div style="text-align:center;font-size:14px;">Copyright ©<%= Time.now.strftime("%Y")%> Andrew Palmer. All rights reserved.</div>
    </footer>